<!DOCTYPE html>

<head>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://scripts.sandbox.bka.sh/versions/1.2.0-beta/checkout/bKash-checkout-sandbox.js"></script>

    <meta charset="utf-8"><!-- test -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DuPay Payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    
</head>

<body >
    
    <button id="bKash_button">Pay Bkash</button>
    <script>
        $(document).ready(function () {

            var invoice = "ccaecd4b-ccf2-44be-a2ae-3d274cd6bee1";
            var baseUrl = "http://103.221.253.163:8080";
            var paymentUrl = "http://103.221.253.163:4200/payment"
            var paymentID = null;
            var paymentRequest = { amount: 10.00, intent: 'sale', currency: 'BDT', merchantInvoiceNumber: invoice };

            bKash.init({
                paymentMode: 'checkout',
                paymentRequest: paymentRequest,
                createRequest: function (request) {

                    $.ajax({
                        url: baseUrl + "/api/external/bkash/payment",
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: "json",
                        data: JSON.stringify({
                            "amount": 10,
                            "currency": "BDT",
                            "intent": "sale",
                            "merchantInvoiceNumber": invoice,
                            "invoiceId": invoice
                        }),
                        beforeSend: function () {
                            $("#bKash_button").hide();
                        },
                        success: function (obj) {
                            console.log(JSON.stringify(obj));

                            if (obj && obj.paymentID != null) {
                                var paymentID = obj.paymentID;
                                bKash.create().onSuccess(obj);
                            }
                            else {
                                
                                console.log(JSON.stringify(obj));

                                bKash.execute().onError();
                            }
                        },
                        error: function () {
                            bKash.create().onError();
                        }
                    });
                },

                executeRequestOnAuthorization: function () {

                    $.ajax({
                        url: baseUrl + "/api/external/bkash/payment/" + paymentID + "/execute",
                        type: 'GET',
                        contentType: 'application/json',
                        dataType: "json",
                        beforeSend: function () {
                            
                        },
                        success: function (obj) {
                            if (obj.status == "success") {
                                
                                console.log(JSON.stringify(obj));

                                window.location.replace(obj.redirectUrl);
                            } else {
                                console.log(JSON.stringify(obj));
                               
                                bKash.execute().onError();
                            }
                        },
                        error: function () {
                            // bKash.execute().onError();
                        }
                    });
                },
                onClose: function () {
                    
                    window.location.replace(paymentUrl + "?invoice=" + invoice );
                }
            });

            setTimeout(function () {
                clickPayButton();
            }, 10);



        });

        function callReconfigure(val) {
            bKash.reconfigure(val);
        }

        function clickPayButton() {
            $("#bKash_button").trigger('click');
        }





    </script>

</body>

</html>