<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center"><img src="/assets/dupayLogo.png" width="100%"></h5>
        <hr class="my-4">
        <form action="" method="POST">
          <div class="btn-groups">
            <input type="hidden" id="invoice" name="invoice" value="{{invoice.id}}">
            {{!-- <input type="hidden" name="amount" value="10.00"> --}}
            <input type="radio" name="paymentMethod" value="bkash" onclick="bkashHandler()"> bKash<br>
            <input type="radio" name="paymentMethod" value="surecash" onclick="sureCashHandler()"> SureCash<br>

            <hr class="my-4">
            <div id="sureCash" style="display: none;">
              <input type="text" name="walletid" class="form-control " id="surecash-walletid"
                placeholder="Enter SureCash Wallet ID 01-XXXXXXXXXX">
              <hr class="my-4">
              
            </div>
            <button id="paynowButton" type="submit" class="btn btn-primary btn-lg btn-block">PAY NOW</button>

        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function toggle_visibility(id, flag) {
    var e = document.getElementById(id);
    if(flag===0){
      e.style.display = 'none';
    }else{
      e.style.display = 'block';
    }      
  }

  function sureCashHandler() {
    toggle_visibility('sureCash',1)
  }
  function bkashHandler() {
    toggle_visibility('sureCash',0)
  }

  function payBkash() {
    var baseUrl = "http://103.221.253.163:3000";
    var paramsString = window.location.search;
    var searchParams = new URLSearchParams(paramsString);
    if (searchParams.has("invoice")) {
      var invoice = searchParams.get("invoice");
      window.location = baseUrl + "/api/payment/bkash/?invoice=" + invoice;
    }
  }
  $(document).ready(function () {
  });
</script>
