<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>S<span>O</span>R<span>R</span>Y</h1>
			</div>
			<h1>{{message}} </h1>
			<a href={{retryUrl}}> Retry </a>
		</div>
</div>